# Week 6 - Make the kind of data you want to see in the world 

Welcome back! 

Last week we took a look at importing data into a Pands `DataFrame`, using Pathlib's `Path` objects. We also introduced you to the structure of a`DataFrame` through `class methods` like `.head()`, `.tail()` (which display the top or bottom of your `df` respectively) and `attributes` like the `shape` of the `DataFrame`, the `df.columns`, and the `df.index`. 

This week we're going to look at some options for cleaning a dataset, such as `dropping` unneeded columns and `rows`, standardising or `renaming` columns, as well as some other cool things (like ) `slicing` your data, and 'fixing' inconsistent data. 

Before we get into that though, we need to import some data to work with so this is a good time to practice what you learned last week. In the cell below:

 1. import pandas and pathlib (don't forget the 'as' bit)
 2. create a Path() to either the .csv or .sav version of your data (s'up to you, you should have fixed the issue with importing SPSS files last week)
 3. use that Path() to import your data into a DataFrame (make sure you assign it to a variable, and remember the we often use the shorthand 'df' when doing so)
 4. make sure that your data has imported correctly by calling displaying the head of the df

In [ ]:
# Import the modules you need first


# create the Path() to your file


# use the pd.read_...() function to read in your data


# display the head of your data

Excellent, now you have some data to work with. We also need some example data, so make sure to run the cell below to make the `bands_df`, which we'll use for our examples.

In [26]:
# initialise some list objects that contains our data, this could also be a list of lists, or a dict of lists for example
import numpy as np #importing a module to allow me to include 'missing data


names = ['John Lennon', 'Bonnie Raitt', 'Robert Rtujillo', 'Prince', 'Gail Ann Dorsey', 'Frank Zappa']
groups = ['Beatles', '', 'metalica', 'The Time', 'Bowie Band', np.nan]
instruments = ['Guitar', 'guitar', 'Bass', 'Multi', 'Bass', 'Multi']
writer = ['yes', 'Yes', 'no', 'yes', 'no', 'yes']
orig = ['yes', '', 'no', 'yes', 'no', 'yes']
score1 = [10, 5, 3, 6, 8, 2]
score2 = [1, 4, 3, 7, np.nan, 2]
col = ['Male, English', 'female, USA', 'man, Mexico', 'f, USA/london', 'Male, us']



bands_df = pd.DataFrame(# opening brackets but moving to new line for readability, note the uppercase D and F in the call
    list(zip(names,groups, instruments, writer, orig, score1, score2, col)), #first argument note the comma at the end of it, this is a couple of nested functions
    columns = ['Participant name', 'band', 'instrument', 'song writer', 'original member', 'score1', 'score2', 'col']# second argument , passing a list to the columns arguments
    )# closing the first pair of brackets to complete the function call

bands_df['col_1'] = np.nan; bands_df['col_2'] ='' #making some empty columns
 #making an empty 'string' column
bands_df.head()# displaying the first 5 columns of the bands_df

,Participant name,band,instrument,song writer,original member,score1,score2,col,col_1,col_2
0,John Lennon,Beatles,Guitar,yes,yes,10,1.0,"Male, English",NaN,
1,Bonnie Raitt,,guitar,Yes,,5,4.0,"female, USA",NaN,
2,Robert Rtujillo,metalica,Bass,no,no,3,3.0,"man, Mexico",NaN,
3,Prince,The Time,Multi,yes,yes,6,7.0,"f, USA/london",NaN,
4,Gail Ann Dorsey,Bowie Band,Bass,no,no,8,NaN,"Male, us",NaN,

## A closer look at the data

You already know how to take the wide view of your data with `head()`, `tail()` and `.shape`, and those things are really useful but, especially with really large datasets or unprocessed (messy) datasets, we also need to be able to get a more focused view of sections of our data. Pandas has a lot of different ways to do this, some of which are interchangeable, and we're going to spend the next little while introducing you to some of them. 


### Slicing
At its essence, `slicing` is just an extension of `indexing`

  Participant name        band instrument song writer
0      John Lennon     Beatles     Guitar         yes
1     Bonnie Raitt                 guitar         Yes
2  Robert Rtujillo    metalica       Bass          no
3           Prince    The Time      Multi         yes
4  Gail Ann Dorsey  Bowie Band       Bass          no